{% extends "base.html" %} {% block title %} Blueprint {% endblock %} {% block
content %}
<h1>Control</h1>
<div class="d-flex justify-content-between">
    <div class="text-center">
        <h5>Top View</h5>
        <image
            src="data:image/png;base64,{{ image_top }}"
            class="image-fluid"
        />
    </div>
    <div class="text-center">
        <h5>Front View</h5>
        <image
            src="data:image/png;base64,{{ image_front }}"
            class="image-fluid"
        />
    </div>
    <div class="text-center">
        <h5>Right View</h5>
        <image
            src="data:image/png;base64,{{ image_right }}"
            class="image-fluid"
        />
    </div>
</div>
<p>Blueprint {{ blueprint }} with {{ max_steps }} Steps</p>
<form method="post" action="{{ url_for('control_post') }}">
    <input type="hidden" name="step" value="{{ step }}" />
    <input type="hidden" name="blueprint" value="{{ blueprint }}" />
    <div class="d-flex justify-content-between mt-3">
        <button
            type="submit"
            name="direction"
            value="back"
            class="btn btn-secondary"
        >
            Back
        </button>
        <button
            type="submit"
            name="direction"
            value="finish"
            class="btn btn-success"
        >
            Finish
        </button>
    </div>
</form>

{% endblock %}
